.containerDetail {
    padding: 20px;
    margin: 50px;
    display: flex;
    justify-content: center;
    .cardDetail {
        display: flex;
        max-width: 520px;
        .imgDiv{
            width: 100%;
            .imgDetail {
                width: 100%;
            }
        }
        .infoDetail {
            width: 50%;
            display: grid;
            align-content: space-around;
            .btnDetail {
                display: flex;
                justify-content: center;
                margin: 3px;
                .stockDetail {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }    
    }
}