.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
    .cardProductos {
        margin: 10px;
        border: 3px solid #111930;
        border-radius: 10px;
        max-width: 18rem;
        .imgProductos {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}