.containerProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    .cardProducts {
        max-width: 12rem;
        border: 2px solid #111930;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }
}

// .cardProducts {
//     margin: 10px;
//     border: 3px solid #111930;
//     border-radius: 10px;
//     max-width: 18rem;
//     .imgProducts {
//         display: block;
//         max-width: 100%;
//         height: auto;
//     }
// }