#barraNav {
    background-color: #111930;
    border-radius: 1rem;
    padding: 10px;
    .logoNav {
        width: 5rem;
    }
    .carritoContainer {
        padding: 10px;
        .carrito {
            background-color: rgb(250, 250, 140);
            color: black;
        }
    }
}
