#navBar {
    background-color: #111930;
    padding: 10px;
    .navLogo {
        width: 5rem;
    }
    .cartContainer {
        padding: 10px;
        .cart {
            background-color: rgb(250, 250, 140);
            color: black;
        }
    }
    .cartNumbers {
        border-radius: 7px;
        display: flex;
        justify-content: center;
        background-color: rgb(250, 250, 140);
        color: black;
        width: 2rem;
    }
}
