#barraNav {
    background-color: #111930;
    border-radius: 5px;
}

.logoNav {
    width: 5rem;
}

.carrito {
    width: 3rem;
}

.objeto {
    text-align: center;
}

.objeto img{
    width: 25%;
}

.cantidad {
    padding-left: 5px;
    padding-right: 5px;
}

.botones {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3px;
}